body
{
background-color:#FFFFFF;
}
#title
{
position:absolute;
text-align:center;
margin-top:225px;
margin-left:380px;
font-size:100px;
font-family: 'Playfair Display', serif;
color:white;


}
#circle1
{
position:fixed;
}
#circle2
{
position:fixed;
}
#circle3
{
position:fixed;
}
#circle4
{
position:fixed;
}
#tagline
{
position:absolute;
margin-top:450px;
margin-left:425px;
font-size:45px;
font-family: 'Niconne', cursive;
}
